/*Eris Firma*/

.contenedor-rebel {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    width: fit-content;
}

.tabla-imagenes {
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom, #121212 0%, #271e22 100%);
    border-image-slice: 1;

}

.img-gif {
    width: 250px;
    height: 180px;
    background: url(https://i.imgur.com/A6Uh1La.gif);
}

.img-png {
    width: 120px;
    height: 180px;
    background: url(https://i.imgur.com/wfEweCR.png);
}

.caja-texto {
    width: 80px;
    background: rgba(39, 30, 34, 0.48);
    text-transform: uppercase;
    font-family: Arial;
    font-size: 6.5px;
    line-height: 120%;
    letter-spacing: 1px;
    color: #afafaf;
    text-align: center;
    padding: 20px 8px;
    position: absolute;
    left: 280px;
    top: 40px;
    text-shadow: 1px 1px 0 #000;
}

